body {
    background-color: var(--secondary);
}

#content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}

#box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 40vw;
    border: solid 4px var(--primary);
    background-color: white;
}

#left-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
}

#left-box > h1 {
    font-size: 2.25rem;
}

.field-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.field-icon {
    width: 20%;
    transform: scale(50%);
}

.field-input {
    width: 80%;
    outline: none; 
    border: none;
    border-bottom: solid 2px var(--primary);
    font-size: 18px;
}

#create-btn {
    width: 60%;
    cursor: pointer;
    background-color: var(--accent);
    color: white;
    text-align: center;
    border-radius: 1rem;
}

#create-btn > h2 {
    margin: 0.25rem 0 0.25rem 0;
}

#divider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

#divider-container > p {
    margin: 0 5% 0 5%;
}

.divider {
    border: 2px solid var(--primary);
    width: 30%;
}

#back-btn {
    width: 60%;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--secondary);
    text-align: center;
    border-radius: 1rem;
}

#back-btn > h2 {
    margin: 0.25rem 0 0.25rem 0;
}

#right-box {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#panel-img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}