:root {
    --text: #000000;
    --background: #ffffff;
    --primary: #0d3f7d;
    --secondary: #c8def9;
    --accent: #1770de;

    font-family: 'Poppins';
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary);
    color: white;
}

#search {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
}

#login-btn {
    background-color: var(--secondary);
    color: var(--primary);
}