#content {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#slice {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 41%;
    z-index: -999;
    background-color: var(--secondary);
}

.account-info {
    position: absolute;
    top: 75%;
    left: 40%;
    font-size: 24px;
    color: var(--primary);
}

#left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 40%;
}

#pfp-icon {
    position: absolute;
    top: 23%;
    width: 16%;
    border-radius: 50%;
    border: solid 6px var(--primary);
}

#action-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary);
    height: 30%;
    margin-top: 50%;
    width: 40%;
    border-radius: 20px;
}

.action-bar-item {
    color: var(--primary);
    height: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;
}

.action-bar-selected {
    color: var(--accent);
    border-bottom: solid 4px var(--accent);
}

#log-out-btn {
    width: 100%;
    background-color: var(--primary);
    border-radius: 20px;
    color: var(--secondary);
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 60%;
}

.highlight {
    font-weight: 700;
}

.sep {
    color: var(--accent);
}

.page-row {
    color: var(--primary);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    margin-top: 20%;
}

.page-title {
    width: 50%;
}

.favorites-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 80%;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--secondary);
    text-align: center;
    margin-right: 2rem;
    border-radius: 10px;
    padding: 0 0.5rem 0 0.5rem;
    font-weight: 700;
}

.save-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 80%;
    cursor: pointer;
    background-color: var(--accent);
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 0 0.5rem 0 0.5rem;
    font-weight: 700;
}

.field-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
}

.field-label {
    width: 20%;
    font-weight: 700;
    font-size: 18px;
    color: var(--primary);
}

.field-icon {
    transform: scale(25%);
    cursor: pointer;
}

.field-input {
    width: 25%;
    outline: none; 
    border: none;
    border-bottom: solid 2px var(--primary);
    font-size: 18px;
}

.add-chip {
    background-color: green;
    color: white;
    width: 8%;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.chip-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.75rem;
}

.chip {
    height: 30%;
    background-color: var(--secondary);
    margin-right: 1rem;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}